pillow
nibabel
imageio
requests
tqdm
fastapi
uvicorn
python-dotenv
supabase
pydicom
numpy
torch
opencv-python
scikit-image
python-multipart
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
